priority -50

###########################################################################
#                            TextMate Snippets                            #
###########################################################################
snippet _me
= `date` =

Title: ${1:title}

Attendees: ${2:List attendees}

endsnippet

# vim:ft=snippets:
