priority -50

###########################################################################
#                            TextMate Snippets                            #
###########################################################################
snippet _me
= `date` =

Title: ${1:title}

Attendees: ${2:List attendees}

endsnippet

snippet _notes

<aside class="notes">
${1}
</aside>


endsnippet

snippet _hl

<<Color2(${1}, black,yellow)>>

endsnippet


# vim:ft=snippets:
